:root {
  --Primary-color: #000;
  --Complementary-color: #bdf1fd;
  --Accent-color: #00bcd4;
  --Background-color: #f5f5f5;
  --Text-color: #212121;
}

.container {
  background-color: var(--Background-color);
}


main {
  margin:auto !important;
}

/* button div */
.read-more-container {
  place-self: center;
}