:root {
  --Primary-color: #000;
  --Complementary-color: #bdf1fd;
  --Accent-color: #00bcd4;
  --Background-color: #f5f5f5;
  --Text-color: #212121;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--Background-color);
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--Background-color);
}

.image {
  height: 100vh;
}

.image img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  object-fit: cover;
  width: 100vw;
  opacity: 0.95;
}

.info-contain {
  position: absolute;
  font-size: 2rem;
  color: var(--Text-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.info-contain button {
  background-color: var(--Accent-color);
  border-color: var(--Accent-color);
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  transition: 10ms;
  cursor: crosshair;
}

.info-contain button:hover {
  transform: scale(1.2);
}

.segment {
  display: flex;
  justify-content: center;
}

/* menu  */
.menu-container {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 1.5rem;
  transform: translate(-50%);
}

.menu {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.menu a {
  color: var(--Text-color) !important;
  font-size: 1.7rem;
  transition: 5ms;
  text-decoration: none;
}

.menu a:hover {
  color: var(--Accent-color) !important;
  transform: scale(1.2);
}

.articles-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--Background-color);
  position: relative;
}

.blog-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.heading {
  place-self: center;
  margin-bottom: 1.3rem;
  font-size: 2rem;
}

.blog {
  height: 200px;
  background-color: var(--Complementary-color);
  border-radius: 3px;
  display: flex;
  padding: 2rem;
}

.reverse {
  flex-direction: row-reverse;
}

.blog h3 {
  margin-bottom: 1rem;
}

.one {
  background-image: url(../images/jack-ward-rknrvCrfS1k-unsplash.jpg);
}

.two {
  background-image: url(../images/sam-williams-UuGAw6nF0Vw-unsplash.jpg);
}

.three {
  background-image: url(../images/constantinos-kollias-yqBvJJ8jGBQ-unsplash.jpg);
}

.four {
  background-image: url(../images/adam-jang-MLKrf51NV8w-unsplash.jpg);
}

.blog-img {
  width: 400px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
}

/* footer */

footer {
  margin-top: auto;
  background-color: var(--Primary-color);
  color: var(--Background-color);
  display: flex;
  justify-content: center;
  padding: 1rem;
  min-height: 200px;
}

.foot-contain {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 800px;
  min-height: 150px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
}

.left-side,
.mid-side,
.right-side {
  display: flex;
  flex-direction: column;
}

.divider {
  border: 1px solid var(--Background-color);
}
